
.container p {
    @apply font-mulish;
    @apply text-lg;
}

.container summary {
    cursor: pointer;
    user-select: none;
}

.container summary::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 20px;
    right: 0;
    top:6px;
    background-image: url('/icons/plus.svg');
    background-repeat: no-repeat;
}

.container[open] summary::after {
    top: 13px;
    background-image: url('/icons/minus.svg');
}
