.button {
    @apply my-2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:global(.primary) {
    @apply h-12;
    @apply rounded-2xl;
    width: 302px;
    background: #000000;
    color: white;

}

.button:global(.tertiary) {
    @apply h-12;
    @apply rounded-2xl;
    @apply border;
    @apply border-black;
    @apply text-black;
    width: 302px;

}
